<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">

    <resultMap type="Item" id="ItemResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechalanzamiento" column="fechalanzamiento"/>
        <result property="tarifaxdia" column="tarifaxdia"/>
        <result property="formatorenta" column="formatorenta"/>
        <result property="genero" column="genero"/>
        <association property="TIPOITEM_id" javaType="TipoItem"></association>
    </resultMap>

    <select parameterType="map" id="consultarItems" resultMap="ItemsResult">
        SELECT * FROM VI_ITEMS
    </select>
    
    
</mapper>