<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">

    <resultMap type="ItemRentado" id="ItemRentadoResult">
        <id property="id" column="id"/>
        <result property="fechainiciorenta" column="fechainiciorenta"/>
        <result property="fechafinrenta" column="fechafinrenta"/>
        <association property="item" javaType="edu.eci.cvds.samples.entities.Item" columnPrefix="i_" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"></association>
    </resultMap>

    <select parameterType="map" id="consultarItemRentado" resultMap="ItemRentadoResult">
        SELECT * FROM VI_ITEMRENTADO
    </select>

    <insert id="createRentado">
        INSERT INTO VI_ITEMRENTADO(id, CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta)
        VALUES(#{idlong}, #{idCli}, #{item}, #{fechaI}, #{fechaF})
    </insert>

    <select parameterType="map" id="consultarItemRentadoCliente">
        SELECT
        c.id,
        c.CLIENTE_documento,
        c.ITEMS_id,
        c.fechainiciorenta,
        c.fechafinrenta,
        FROM VI_ITEMRENTADO as c
        WHERE c.id = #{iditemrentadocliente}
    </select>

</mapper>